.CreateTodoButton {
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  font-family: var(--monts-font);
  font-size: 2.6rem;
  background-color: var(--secondary);
  border: 1px solid var(--white);
  color: white;

  transform: rotate(0);
  transition: 0.3s ease;
  position: absolute;
  right: 18%;
  bottom: 20%;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}
