:root {
  --primary: #138d75;
  --secondary: #0b5345;
  --grey: #bfc9ca;
  --black: #273746;
  --white: #ecf0f1;

  --monts-font: "Montserrat";
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
